.main-container{
    background-image: url(./image1.png);
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-size: cover;

}

.opacity-3 {
    opacity:1.8!important;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.custom-select{
    display: inline-block;
    width: 100%;
    /*height: calc(2.25rem + 2px);*/
    height: 49px;
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: black;
    vertical-align: middle;
    background-size: 8px 10px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: .25rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
/* identical to box height */
}

.title-1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.title-2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.simple-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
/* identical to box height */
    color: #000000;
}

.line{
    border: 1px solid #000000;
    transform: rotate(0.21deg);
}